langchain
python-dotenv
langchain_groq
langchain_google_genai
langchain_community
langchain-community
langchain-huggingface
sentence-transformers
langchain-core
structlog
pypdf
faiss-cpu
pandas
streamlit
-e .